
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0px;">
  <div class="sidebar-header">
    <i style="font-size:24px" class="fa fa-bars"></i>
  </div>
  <div  class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" alt="Bootstrap" width="100%" height="40">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chennai
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" >Chennai</a></li>
            <li><a class="dropdown-item" >Bengaluru</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      &nbsp;
      <div class="user-profile">
        <div class="profile-info">
          <span class="user-name">George William</span>
          <span class="user-role">Super Admin</span>
        </div>
        <img
          src="assets/user.jpg"
          alt="Profile Image"
          class="profile-image rounded-circle"
        />
      </div>
    </div>
  </div>
</nav>

<div class="wrapper">
  <nav id="sidebar" class="bg-light border-right">
    <ul class="list-unstyled components">
      <li><img src="../assets/icon-2.png" alt="Bootstrap"></li>
      <li><img src="../assets/icon-1.png" alt="Bootstrap"></li>
    </ul>
  </nav>
  <div>
  <div class="header" >
    <h6>Program Educational Objectives (PEOs)</h6>
    <div class="peo-tabs">
      <button>
        <div class="peo-title">All</div>
      </button>
      <button>
        <div class="peo-title">PEO-1</div>
        <div class="peo-description">Employability</div>
      </button>
      <button>
        <div class="peo-title">PEO-2</div>
        <div class="peo-description">Entrepreneur</div>
      </button>
      <button>
        <div class="peo-title">PEO-3</div>
        <div class="peo-description">Research & Development</div>
      </button>
      <button>
        <div class="peo-title">PEO-4</div>
        <div class="peo-description">Contribution to business world</div>
      </button>
      <button>
        <div class="peo-title">PEO-5</div>
        <div class="peo-description">Contribution to society</div>
      </button>
    </div>
  </div>
  <div class="courseevaluation-container">
    <div class="program-outcome-container">
      <h3 class="program-outcome-title">Program Outcomes</h3>
      <button style="border: none;">
      <div class="outcome-item">
        <div class="outcome-title">
          <h6>Communication Skills</h6>
        </div>
        <div class="outcome-details">
          <div class="outcome-description">
            <div class="outcome-progress">
              <div class="progress-bar">
                <div class="progress" style="width: 85%;"></div>
              </div>
              <span class="percentage">85%</span>
            </div>
            <p>Ability to effectively communicate in both written and oral forms.</p>
          </div>
        </div>
      </div>
    </button>
    <button style="border: none;">
      <div class="outcome-item">
        <div class="outcome-title">
          <h6>Critical Thinking</h6>
        </div>
        <div class="outcome-details">
          <div class="outcome-description">
            <div class="outcome-progress">
              <div class="progress-bar">
                <div class="progress" style="width: 78%;"></div>
              </div>
              <span class="percentage">78%</span>
            </div>
            <p>Ability to analyze, evaluate, and apply information effectively.</p>
          </div>
          
        </div>
      </div>
    </button>
    </div>
    <div class="component component1">
      <app-course></app-course>
    </div>
    <div class="right-side">
      <div class="component component2">
        <app-assessment></app-assessment>
      </div>
      <div class="component component3">
        <app-attendance></app-attendance>
      </div>
    </div>
  </div>
  </div>
</div>
